<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">


<head>
<meta charset="ISO-8859-1">
<title>Change Password Form</title>
</head>
<body>

<section>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img class="pt-3" src="https://www.seekpng.com/png/full/138-1387775_login-to-do-whatever-you-want-login-icon.png" id="icon" alt="Login" />
    </div>
  
    <div th:if="${param.error}" class="alert alert-danger " >
    Invalid username and password
    </div>
    
    <div th:if="${param.logout}" class="alert alert-success " >
    You have been logout
    </div>
    

    
 <h1>Enter New Password</h1>

    
    
    
    <form th:action="@{/change-password}" method="post">
    
    <div class="form-group">
    
    <input name="newpassword" required="required" type="text" placeholder="Enter New Password here" class="form-control" />
    
    
    
    </div>
    
    <div class="container text-center">
    
    <button class="btn btn-primary m-3" >Change Paswword</button>
    
    </div>
    
    </form>





  </div>
</div>

</section>

</body>
</html>